.landing {
  background-image: linear-gradient(
      to right,
      rgb(56, 230, 190, 0.6),
      rgba(34, 181, 52, 0.28)
    ),
    url('../../img/bulb.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: blue;
  top: 5vh;
  height: 95vh;
  border: 1px solid red;
  position: relative;
}

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid white;*/
  color: yellow;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  font-family: 'Playfair Display', serif;
}

.main-header:hover {
  animation: flash 1.3s ease-in;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.login-form {
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  display: block;
  margin: 3px auto;
  padding: 10px;
  border-radius: 10px;
}

.login-input:focus {
  background-color: red;
}

.btn {
  padding: 10px 50px;
  border-radius: 3px;
  border: 1px solid blue;
  display: block;
  margin-top: 10px;
}

.btn:hover {
  transform: translateY(-7px);
  box-shadow: 10px 0 5px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}
