.landing {
  /*background-image: linear-gradient(*/
  /*to right,*/
  /*rgba(35, 20, 115, 0.3),*/
  /*rgba(119, 112, 159, 0.18)*/
  /*),*/
  background-image: linear-gradient(
      to right,
      rgb(56, 0, 0),
      rgba(34, 181, 52, 0.28)
    ),
    url('../../img/bulb.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: blue;
  top: 5vh;
  height: 95vh;
  border: 1px solid red;
}

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid white;*/
  color: yellow;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  font-family: 'Playfair Display', serif;
}

.text-box h1:hover {
  animation: flash 1.3s ease-in;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
