.quiz-list-wrapper {
  position: relative;
  top: 10vh;
  border: 1px solid red;
  background-image: linear-gradient(
    to bottom right,
    rgba(45, 164, 53, 0.6),
    rgba(69, 73, 207, 0.68)
  );
  font-size: 2rem;
  padding-top: 20px;
}

.quiz-list {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}

.single-quiz {
  border: 1px solid blue;
  width: 25%;
  margin: 10px;
  padding: 8px;
}

.quiz-title {
  margin-bottom: 8px;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
}
